<table mdbTable #tableEl="mdbTable" bordered="true" hover="true">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Taille</th>
    <th>Action</th>
    <th style="width: 2%"><button mdbBtn type="button" color="amber" mdbWavesEffect (click)="createModal.show()"><mdb-icon fas icon="plus"></mdb-icon></button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let el of elements; let i = index">
    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.name}}</th>
    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.size}}</td>
    <td colspan="2" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
      <button mdbBtn type="button" color="deep-purple" mdbWavesEffect (click)="displayDetails(el.uuid)">Details</button>
    </td>
  </tr>
  </tbody>
  <tfoot class="lighten-5 w-100">
  <tr>
    <td colspan="5">
      <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
    </td>
  </tr>
  </tfoot>
</table>

<!--suppress AngularInvalidTemplateReferenceVariable -->
<div mdbModal #createModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="createModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="createSalleForm" (submit)="createSalle()">
        <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <input type="text" id="form3" class="form-control" formControlName="salleName"
                 mdbInput mdbValidate>
          <label for="form3">Nom de la salle</label>
          <mdb-error
            *ngIf="formSalleName.invalid && (formSalleName.dirty || formSalleName.touched)">
            Valeur invalide
          </mdb-error>
        </div>
        <div class="md-form mb-4">
          <input type="number" id="form2" class="form-control" formControlName="salleSize"
                 mdbInput mdbValidate>
          <label for="form2">Nombre de place recomandées</label>
          <mdb-error
            *ngIf="formSalleSize.invalid && (formSalleSize.dirty || formSalleSize.touched)">
            Valeur invalide
          </mdb-error>
        </div>
        </div>
       <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="indigo" class="waves-light" mdbWavesEffect>Creer
            <mdb-icon far icon="paper-plane" class="ml-1" ></mdb-icon>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
